/* I don't know if it will let me separate out these variables but let's find out */
/* Cool color system that uses CSS variables to infer entire color palettes for light and dark themes off of two HSL colors */
:root {
	--primary-h: 28;
	--primary-s: 90;
	--primary-l: 38;
	--primary-l-floor: calc(var(--primary-l)/10);
	--primary-l-ceiling: calc((100 - var(--primary-l)) / 10);
	--secondary-h: 45;
	--secondary-s: 90;
	--secondary-l: 32;
	--secondary-l-floor: calc(var(--secondary-l)/10);
	--secondary-l-ceiling: calc((100 - var(--secondary-l)) / 10);
	--primary-5: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l-floor)));
	--primary-10: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l-floor)*2));
	--primary-15: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l-floor)*3));
	--primary-20: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l-floor)*4));
	--primary-25: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l-floor)*5));
	--primary-30: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l-floor)*6));
	--primary-35: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l-floor)*7));
	--primary-40: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l-floor)*8));
	--primary-45: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l-floor)*9));
	--primary-50: hsl(var(--primary-h) var(--primary-s) var(--primary-l));
	--primary-55: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + var(--primary-l-ceiling)));
	--primary-60: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + (var(--primary-l-ceiling)*2)));
	--primary-65: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + (var(--primary-l-ceiling)*3)));
	--primary-70: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + (var(--primary-l-ceiling)*4)));
	--primary-75: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + (var(--primary-l-ceiling)*5)));
	--primary-80: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + (var(--primary-l-ceiling)*6)));
	--primary-85: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + (var(--primary-l-ceiling)*7)));
	--primary-90: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + (var(--primary-l-ceiling)*8)));
	--primary-95: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + (var(--primary-l-ceiling)*9)));
	--secondary-5: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l-floor)));
	--secondary-10: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l-floor)*2));
	--secondary-15: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l-floor)*3));
	--secondary-20: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l-floor)*4));
	--secondary-25: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l-floor)*5));
	--secondary-30: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l-floor)*6));
	--secondary-35: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l-floor)*7));
	--secondary-40: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l-floor)*8));
	--secondary-45: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l-floor)*9));
	--secondary-50: hsl(var(--secondary-h) var(--secondary-s) var(--secondary-l));
	--secondary-55: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) + var(--secondary-l-ceiling)));
	--secondary-60: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) + (var(--secondary-l-ceiling)*2)));
	--secondary-65: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) + (var(--secondary-l-ceiling)*3)));
	--secondary-70: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) + (var(--secondary-l-ceiling)*4)));
	--secondary-75: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) + (var(--secondary-l-ceiling)*5)));
	--secondary-80: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) + (var(--secondary-l-ceiling)*6)));
	--secondary-85: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) + (var(--secondary-l-ceiling)*7)));
	--secondary-90: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) + (var(--secondary-l-ceiling)*8)));
	--secondary-95: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) + (var(--secondary-l-ceiling)*9)));
	--shadow-0: 0px 0px 0px 0px hsla(0, 0%, 0%, 0), 0px 0px 0px 0px hsla(0, 0%, 0%, 0), 0px 0px 0px 0px hsla(0, 0%, 0%, 0);
	--shadow-1: 0px 2px 1px -1px hsla(0, 0%, 0%, 0.2), 0px 1px 1px 0px hsla(0, 0%, 0%, 0.14), 0px 1px 3px 0px hsla(0, 0%, 0%, 0.12);
	--shadow-2: 0px 2px 2px -1px hsla(0, 0%, 0%, 0.2), 0px 3px 3px 0px hsla(0, 0%, 0%, 0.14), 0px 1px 5px 0px hsla(0, 0%, 0%, 0.12);
	--shadow-3: 0px 3px 3px -2px hsla(0, 0%, 0%, 0.2), 0px 5px 5px 1px hsla(0, 0%, 0%, 0.14), 0px 2px 7px 0px hsla(0, 0%, 0%, 0.12);
	--shadow-4: 0px 3px 5px -3px hsla(0, 0%, 0%, 0.2), 0px 5px 7px 1px hsla(0, 0%, 0%, 0.14), 0px 3px 9px 0px hsla(0, 0%, 0%, 0.12);
	--shadow-5: 0px 4px 7px -5px hsla(0, 0%, 0%, 0.2), 0px 7px 9px 2px hsla(0, 0%, 0%, 0.14), 0px 3px 12px 0px hsla(0, 0%, 0%, 0.12);
	--scrim: hsla(0, 0%, 0%, 0.66);
}

:root [theme="light"] {
	--surface-0: hsl(0 0 100);
	--surface-1: hsl(0 0 95);
	--surface-2: hsl(0 0 90);
	--surface-3: hsl(0 0 85);
	--surface-4: hsl(0 0 80);
	--surface-5: hsl(0 0 75);
	--surface-dim: hsl(0 0 60);
	--outline-faint: hsl(0 0 75);
	--outline: hsl(0 0 50);
	--font-primary: hsl(0 0 10);
	--font-secondary: hsl(0 0 20);
	--font-faint: hsl(0 0 40);
	--font-reversed: hsl(0 0 100);
	--font-on-primary: hsl(0 0 100);
	--font-on-primary-container: var(--primary-35);
	--font-on-secondary: hsl(0 0 100);
	--font-on-secondary-container: var(--secondary-35);
	--color-primary: var(--primary-45);
	--color-primary-container: var(--primary-90);
	--color-secondary: var(--secondary-45);
	--color-secondary-container: var(--secondary-90);
}

:root [theme="dark"] {
	--surface-0: hsl(0 0 10);
	--surface-1: hsl(0 0 15);
	--surface-2: hsl(0 0 20);
	--surface-3: hsl(0 0 25);
	--surface-4: hsl(0 0 30);
	--surface-5: hsl(0 0 35);
	--surface-dim: hsl(0 0 40);
	--outline-faint: hsl(0 0 25);
	--outline: hsl(0 0 50);
	--font-primary: hsl(0 0 100);
	--font-secondary: hsl(0 0 90);
	--font-faint: hsl(0 0 60);
	--font-reversed: hsl(0 0 0);
	--font-on-primary: var(--primary-35);
	--font-on-primary-container: hsl(0 0 100);
	--font-on-secondary: var(--secondary-35);
	--font-on-secondary-container: hsl(0 0 100);
	--color-primary: var(--primary-90);
	--color-primary-container: var(--primary-40);
	--color-secondary: var(--secondary-90);
	--color-secondary-container: var(--secondary-40);
}
